{% extends 'deployr2/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deployr2/css/index.css' %}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="four columns">
            <h2>Welcome!</h2>
            <p>This is deployr2, the deployment app for techdev. Test out feature branches with the ease of a few clicks!</p>
        </div>
        <div class="eight columns">
            <h2>Start a new deployment</h2>
            <p>From here you can start a new deployment to our QS server.</p>
            <p>
                <a class="button" href="{% url 'deployr2:start_deployment' %}">Go &gt;&gt;</a>
            </p>
        </div>
    </div>

    <h2>Running deployments</h2>
    <div class="row">
    {% for deployment in deployments %}
        <div class="columns four deployment">
            <h5>Deployment {{ forloop.counter }}</h5>
            <p>Status: RUNNING (TODO should also have STOPPED)</p>
            <p>Branches: TODO</p>
            <a class="button" href="/{{ deployment.id }}">Goto</a>
            <a class="button inspect" href="{% url 'deployr2:deployment' deployment.id %}">Inspect</a>
            <a class="button stop" href="STAHP">Stop</a>
        </div>

        {% if forloop.counter|divisibleby:"3" %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}