{% extends 'deployr2/base.html' %}
{% block content %}
    <div class="row">
        <div class="four columns">
            <h2>Welcome!</h2>
            <p>This is deployr2, the deployment app for techdev. Test out feature branches with the ease of a few clicks!</p>
        </div>
        <div class="eight columns">
            <h2>Start a new deployment</h2>
            <p>From here you can start a new deployment to our QS server.</p>
            <p>
                <a class="button" href="{% url 'deployr2:start_deployment' %}">Go &gt;&gt;</a>
            </p>
        </div>
    </div>
{% endblock %}