{% extends 'deployr2/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "deployr2/css/start_deployment.css" %}"/>
{% endblock %}

{% block javascript %}
    <script src="{% static 'deployr2/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'deployr2/js/knockout-3.2.0.js' %}"></script>

    <script type="text/javascript" src="{% static 'deployr2/js/start_deployment.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="columns 12">
            <h2>Start a new deployment</h2>
            <p>Please choose a backend and frontend branch and build number, then press GO.</p>
        </div>
    </div>

    <div class="row">
        <div class="columns five">
            {% if error %}
                <p class="error">Parameter missing: {{ error }}</p>
            {% endif %}
        </div>
    </div>

    <form class="hidden-radios" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="columns five">
                <h4>trackr-backend</h4>
                <select name="backend_build_nr" data-bind="options: backendBuilds, optionsText: 'number', optionsValue: 'number'"></select>
                {% for branch in backend_branches %}
                    <input id="backend-{{ branch.name }}" type="radio" name="backend_branch" value="{{ branch.name }}"/>
                    <label class="branch-radio" for="backend-{{ branch.name }}">{{ branch.name }}</label>
                {%  endfor %}
            </div>

            <div class="columns five">
                <h4>trackr-frontend</h4>
                <select name="frontend_build_nr" data-bind="options: frontendBuilds, optionsText: 'number', optionsValue: 'number'"></select>
                {% for branch in frontend_branches %}
                    <input id="frontend-{{ branch.name }}" type="radio" name="frontend_branch" value="{{ branch.name }}"/>
                    <label class="branch-radio" for="frontend-{{ branch.name }}">{{ branch.name }}</label>
                {%  endfor %}
            </div>
        </div>

        <div class="columns two">
            <button>Go &gt;&gt;</button>
        </div>
    </form>
{% endblock %}